.mdl-tabs__tab-bar{
    -webkit-justify-content: flex-start!important;
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}

/*.mdl-chip__text{
    float: left!important;
    text-align: center!important;
    width: 126px;
}
.mdl-chip__action{
    float: right!important;
    padding: 4px 0!important;
}
*/

/* Slot */
.slot{
    margin: 3px;
    border-radius: 25px;
}

.slot__close_button{
    margin: 4px 4px 0 0!important;
    float: right;
    background: lightgrey!important;
}

.slot__content{
    overflow: auto;
    height: calc(100% - 62px);
    margin: 0!important;
    padding: 0!important;
}

.slot__hidden{
    margin: 3px 1px 3px 0;
    border-radius: 0 25px 25px 0;
}

/* Flex */
.flex__column{
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    overflow: hidden;
}

.flex__row{
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    overflow: hidden;
}

/* Scrollbar */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.primaryColor
{
    background-color: #909060 !important
}

main
{
    background-color: #d0d0b0
}
