.mdl-tabs__tab-bar{
    -webkit-justify-content: flex-start!important;
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}

/*.mdl-chip__text{
    float: left!important;
    text-align: center!important;
    width: 126px;
}
.mdl-chip__action{
    float: right!important;
    padding: 4px 0!important;
}
*/

/* Slot */
.slot{
    margin: 3px;
    border-radius: 25px;

/* Flextransition */
    transition: all 200ms linear;
}

.slot__new{
    flex: 1 1 7%;
    -webkit-animation: flexGrow 200ms ease forwards;
    -o-animation: flexGrow 200ms ease forwards;
    animation: flexGrow 200ms ease forwards;
}

.slot__half{
    flex: 1 1 7%;
    transition: all 200ms ease-in;
/*    flex: 0 0 0%;
    -webkit-animation: flexHalf 100ms ease forwards;
    -o-animation: flexHalf 100ms ease forwards;
    animation: flexHalf 100ms ease forwards;*/
}

.slot__remove{
    flex: 2 2 12%;
    overflow: hidden;
    -webkit-animation: flexShrink 200ms ease forwards;
    -o-animation: flexShrink 200ms ease forwards;
    animation: flexShrink 200ms ease forwards;
}

@-webkit-keyframes flexGrow {
  to {
    flex: 2 2 12%;
  }
}
@-o-keyframes flexGrow {
  to {
    flex: 2 2 12%;
  }
}
@keyframes flexGrow {
  to {
    flex: 2 2 12%;
  }
}

@-webkit-keyframes flexHalf {
  to {
    flex: 1 1 7%;
  }
}
@-o-keyframes flexHalf {
  to {
    flex: 1 1 7%;
  }
}
@keyframes flexHalf {
  to {
    flex: 1 1 7%;
  }
}

@-webkit-keyframes flexShrink {
  to {
    flex: .01;
    flex: .00001;
  }
}
@-o-keyframes flexShrink {
  to {
    flex: .01;
    flex: .00001;
  }
}
@keyframes flexShrink {
  to {
    flex: .01;
    flex: .00001;
  }
}

.slot__close_button{
    margin: 4px 4px 0 0!important;
    float: right;
    background: lightgrey!important;
}

.slot__content{
    overflow: auto;
    height: calc(100% - 62px);
    margin: 0!important;
    padding: 0!important;
}

.slot__hidden{
    margin: 3px 1px 3px 0;
    border-radius: 0 25px 25px 0;
}

/* Flex */
.flex__column{
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    overflow: hidden;
}

.flex__row{
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    overflow: hidden;
}

/* Scrollbar */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.primaryColor
{
    background-color: #f0f0f0 !important
}

.generalBackgroundColor, main
{
    background-color: #d0d0b0
}
